npm-debug*
reports
screenshots
bower_components
node_modules
target
.DS_Store
.idea
build
gulpfile-old.js
/polymer-nuxeo/src/main/app/src/my-app-old.html
/polymer-nuxeo/src/main/app/src/my-root-old.html
/polymer-nuxeo/target/polymer-front-end-1.0-SNAPSHOT.jar
/polymer-nuxeo-mp/ftest/nightwatch/reports/
